h1{
    color:rgb(10, 61, 44)
}
h2{
    color:#2d500a
}

body {
    background-color: rgb(150, 255, 80);
}

img{
    scale: 150%;
    align-items: last baseline;}

.lists{
    color: rgb(107, 6, 6);
}